html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  vertical-align: baseline;
  font-family: 'Inter';
  background-color: rgb(255, 255, 255);
}

#root {
  height: 100%;
}
